/* reset css */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root{
  height: 100vh; /*OCUPA SEMPRE TODA A TELA*/
  font-size: 10px;
}

form#message-form {
  width: 100vw;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content:center;
  padding: 2rem;
}

form#message-form input#text-message {
  width: 80%;
}

button {
  background-color: blue;
  color: orange;
  width: 10rem;
  height: 5rem;
}