/* cores 
#E57F68 - rosa escuro
#E98988 - rosa claro
#EB8C85 - rosa mais claro

#B3CABD - verde claro
#1C1D18 - cor do tirulo
#F5F6F0 - cor de fundo 
*/

@import './global.css';
main {
  display: flex;
  width: 100vw;
  height: 100vh;
}


/* SIDEBAR CSS */
main #sidebar{ 
  height: 100%;
  width: 20%;   
  background-color: #F5F6F0;  
  display: flex;
  flex-direction: column;
  align-items: flex-start;  
}

main #sidebar div.sidebar-info{
  background-color: #e98a88be;
  width: 100%;  
  border-radius: 0.8rem;
  margin: 0rem 0 2rem 0; 
  padding: 1rem;   
}

main #sidebar div.sidebar-info div.sidebar-header{
  border-radius: 0.8rem;
  background-color: #8ec5a6;
  padding: 1rem;
  width: 100%;    
  display: flex;
  align-items: center;  
}

main #sidebar div.sidebar-info div.sidebar-header img {
  margin-right: 0.2rem;
  padding: 0.5rem;
}

main #sidebar div.sidebar-info div.sidebar-header span {
  font-size: 1.6rem;
  font-weight: bold;
  color: #FFF;
}

main #sidebar div.sidebar-info ul li{
  list-style: none;
}

main #sidebar div.sidebar-info ul li, h3 {
  background-color: #e98a88;
  border-radius: 0.8rem;
  margin: 0.5rem;
  padding: 1rem;
  width: 80%;
  font-size:1.2rem;
  font-weight: bold;
  color: #FFF;  
}

main #sidebar div.sidebar-info ul li:hover{
  background-color: #E57F68;
}

main #sidebar div.sidebar-info h3:hover{
  background-color: #E57F68;
}

main #sidebar div.sidebar-info ul, h3 {
  padding: 1rem;
}

main #sidebar div.sidebar-info h3{    
  margin: 1rem;  
  width: 90%;
}


main #sidebar button {
  width: 100%;
  height: 5rem;
  
  background-color: #E57F68;
  

  outline: none;
  border: 0.1rem solid #B3CABD;
  border-radius: 0.8rem;

}

main #sidebar button a {
  color: #FFF;
  text-decoration: none;
  font-size: 1.5rem;
}

main #sidebar button:hover{
  background-color: #8ec5a6;
}

/* FORGOT TO COMMENT XD */
main #chat-section {
  height: 100%;  
  width: 80%;  
}

main #chat-section #chat-field{  
  height: 88%;
  padding: 2rem;
}

main #chat-section #chat-form{
  height: 12%;
  background-color: #E98988;
  display: flex;
  align-items: center;
  justify-content: center;
}

main #chat-section #chat-form input{
  width: 80%;
  height: 60%;
  padding: 1rem;

  border-radius: 0.8rem;
  outline: none;
  border: none;
}

main #chat-section #chat-form button{
  width: 6rem;
  height: 6rem;
  margin: 1rem;
  padding: 1rem;  
  background-color: #4da372;    
  
  border-radius: 100%;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
}

/* CSS DA CAIXA QUE CONTEM AS MENSAGENS */
main #chat-section #chat-field div.box-message{
  font-size: 1.8rem;
  font-family: 'Montserrat', sans-serif;
  text-align: justify;
  line-height: 2.3rem;

  background-color: #B3CABD ;
  border-radius: 0.8rem;
  width: 90%;
  margin: 0rem 1rem 2rem 1rem;
  padding: 1.5rem;
}

main #chat-section #chat-field div.box-message:hover{
  background-color: #79b693 ;
}

main #chat-section #chat-field div.box-message strong p{
  margin-bottom: 0.4rem;
  font-size: 1.6rem;
}